[Unit]
Description = Node Exporter Service
[Service]
ExecStart=/opt/vnode_exporter-{{nose_exporter_version}}.linux-amd64
SyslogIdentifier=node-exporter

[Install]
WantedBy=multi-user.target
